<div class="container">
     <div class="row">
      <div class="col-md-12">
        <div class="match">
          <h4>Match 1</h4>
          <h5><span class="fst-italic">Team A vs. Team B</span></h5>
          <p>Date: January 1, 2024</p>
          <p>Time: 3:00 PM</p>
        </div>
        <div class="match">
          <h4>Match 2</h4>
          <h5 class="fst-italic">Team C vs. Team D</h5>
          <p>Date: January 2, 2024</p>
          <p>Time: 4:00 PM</p>
        </div>
      </div>
      <!-- <div class="col-md-6">
        <div class="match">
          <h4>Match 3</h4>
          <p>Team E vs. Team F</p>
          <p>Date: January 3, 2024</p>
          <p>Time: 2:00 PM</p>
        </div>
        <div class="match">
          <h4>Match 4</h4>
          <p>Team G vs. Team H</p>
          <p>Date: January 4, 2024</p>
          <p>Time: 5:00 PM</p>
        </div>
      </div> -->
    </div>
  </div>